.Rectangle-8 {
  width: 1440px;
  height: 850px;
  object-fit: contain;
  background-image: linear-gradient(118deg, #083e98, #147cb8);
}



.Rectangle-8 {
  width: 1440px;
  height: 850px;
  object-fit: contain;
  background-image: linear-gradient(118deg, #083e98, var(--nice-blue-two));
}
.My-Email-Sign-In {
   position: absolute;
  top: 65px;
  left: 348px;
  width: 87px;
  height: 44px;
  object-fit: contain;
  font-family: Raleway;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Vector-Smart-Object {
   position: absolute;
  top: 116px;
  left: 668px;
  width: 493px;
  height: 476px;
  object-fit: contain;
}



.One-tab-for-all-your-inboxes {
   position: absolute;
  top: 167px;
  left: 279px;
  width: 307px;
  height: 98px;
  object-fit: contain;
  font-family: Raleway;
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.Rectangle-9 {
   position: absolute;
  top: 292px;
  left: 280px;
  width: 87px;
  height: 8px;
  object-fit: contain;
  background-color: #ffffff;
}

.Access-links-to-your-Gmail-AOL-Outlook-email-accounts-from {
   position: absolute;
  top: 337px;
  left: 280px;
  width: 294px;
  height: 74px;
  object-fit: contain;
  font-family: Raleway;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Access-links-to-your-Gmail-AOL-Outlook-email-accounts-from .text-style-1 {
   position: absolute;
  top:463px;
  left: 280px;
  color: #84fbcf;


}

.Rectangle-10 {
   position: absolute;
  top: 463px;
  left: 280px;
  width: 298px;
  height: 78px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 0 51px 0 rgba(8, 62, 152, 0.32);
  background-color: #fc8f46;
}

.START-NOW {
   position: absolute;
  top: 491px;
  left: 314px;
  width: 170px;
  height: 21px;
  object-fit: contain;
  font-family: Raleway;
  font-size: 29px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Shape-1 {
   position: absolute;
  top: 490px;
  left: 508px;
  width: 36px;
  height: 24px;
  object-fit: contain;
 
}
.By-clicking-the-button-above-you-are-agreeing-to-install-this-e {
   position: absolute;
  top: 571px;
  left: 280px;
  width: 393px;
  height: 24px;
  object-fit: contain;
  font-family: Raleway;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Shape-2 {
  position: absolute;
  top: 62px;
  left: 280px;
  width: 53px;
  height: 46px;
  object-fit: contain;
}


.Gmail-Outlook-AOL-are-the-trademarks-of-Google-LLC-Microsoft {
  position: absolute;
  top: 617px;
  left: 280px;
  width: 447px;
  height: 25px;
  object-fit: contain;
  font-family: Raleway;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.Rectangle-17 {
  width: 1440px;
  height: 4100px;
  object-fit: contain;
  /*background-color: #ffffff;*/
}
.Shape-3 {
    /*position: absolute;*/
  top: 954px;
  left: 0px;
  width: 1034px;
  height: 1px;
  object-fit: contain;
  /*background-color: #cbd1e3;*/
}
.Shape-4 {
   position: absolute;
  top: 1002px;
  left: 332px;
  width: 233px;
  height: 202px;
  object-fit: contain;
  opacity: 0.3;
  /*background-image: linear-gradient(121deg, #32c2f1, #81f9d0);*/
}
.Shape-6 {
  position: absolute;
  top: 1073px;
  left: 389px;
  width: 168px;
  height: 126px;
  object-fit: contain;
  /*background-color: #33363b;*/
}

.one
 {
  position: absolute;
  top: 927px;
  left: 1068px;
  width: 92px;
  height: 54px;
  object-fit: contain;
  font-family: Raleway;
  font-size: 88.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #cbd1e3;
}

.One-Tab-Multiple-Inboxes {
   position: absolute;
  top: 1012px;
  left: 643px;
  width: 308px;
  height: 25px;
  object-fit: contain;
  font-family: Raleway;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0a489d;
}

.Who-knew-keeping-all-your-eggs-in-one-basket-could-be-a-good-th {
   position: absolute;
  top: 1071px;
  left: 643px;
  width: 369px;
  height: 140px;
  object-fit: contain;
  font-family: Raleway;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #33363b;
}













